{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "useTabs": false,
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}