# Custom port
PORT=

# Backend base URL
BASE_URL=

# Frontend base URL
FRONT_URL=

# MongoDB URI
MONGODB_URI=

# PostgreSQL URI
POSTGRESQL_URI=

# JWT secret keys
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_RESET_TOKEN_SECRET=

# ReCAPTCHA secret key
RECAPTCHA_SECRET=

# Nodemailer email & password
EMAIL_USER=
EMAIL_PASSWORD=

# Dropbox Access Token
DROPBOX_ACCESS_TOKEN=

# Dropbox Folders Paths
DROPBOX_AVATAR_FOLDER_PATH=

# Paypal sandbox keys
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
